@font-face {
  font-family: 'SFProDisplayBold';
  src: url('/fonts/SFProDisplayBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFProDisplaySemiBold';
  src: url('/fonts/SFProDisplaySemibold.ttf') format('truetype');
}